<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PollingInterval" value="2"/>
    <add key="SharePath" value="C:\Share"/>
    <add key="DomainName" value="WVDOM103"/>
    <add key="DomainContainer" value="OU=UsersFromDatabase,DC=wvdom103,DC=dei,DC=isep,DC=ipp,DC=pt"/>
    <add key="Api.User" value="admin"/>
    <add key="Api.Password" value="Password01!"/>
    <add key="Api.Url" value="http://10.8.11.147/"/>
  </appSettings>
</configuration>
